/* Background effect. It covers the entire site */
.ow-modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}

/* Modal content */
.ow-modal-content {
  background-color: white;
  width: 70%; /* Width in proportion to its parent container*/
  max-width: 482px; /* Max width where it stops expanding */
  height: 70%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;

  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  right: 0px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ow-wysiwyg-menubar {
    background: #fff;
    background-color: #fff;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    /* margin-bottom: -1px; */
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .ow-wysiwyg-toolbar {

    color: black;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    display: block;
    padding: 20px 0 0 0;
    height: 10%;
    min-width: 100%;
    z-index: 1;
  }

  .ow-wysiwyg-toolbar-group {
    background: #fff;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-bottom: -1px;
    padding: 0 0;
    width: 100%;
  }

  .ow-wysiwyg-editor {
    border-top: 1px solid #ccc;
    padding-top: inherit;
    display: flex;
    flex: 1;
    padding-top: 150px;
    -ms-flex-preferred-size: auto;
    overflow: hidden;
    position: relative;
  }

  .ow-wysiwyg-statusbar {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    color: rgba(34, 47, 62, 0.7);
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    text-transform: uppercase;
  }

.ow-modal-header {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 10px;
}

.organw-active-image {
    border: 2px solid blue;
}

.ow-modal-flex {
  display: flex;
  height: 100%; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ow-modal-info {
  background-color: #888;
  border: 1px solid #888;
}

.ow-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 8px;
}

.ow-btn-success{
    background-color: #207ab7;
    background-image: none;
    background-position: none;
    background-repeat: none;
    border-color: #207ab7;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1;
    line-height: 24px;
    margin: 0;
    outline: 0;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
}

.ow-btn-dismiss {
    background-color: #f0f0f0;
    background-image: none;
    background-position: none;
    background-repeat: none;
    border-color: #f0f0f0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #222f3e;
    outline: 0;
    padding: 4px 16px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1;
    line-height: 24px;
    margin: 0;
}

.ow-btn-info {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.ow-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.ow-input {
    align-content: center;
}

.fontsize {
    font-size: medium;
    border: 1px solid grey;
    background-color: lightgrey;
}