/* ==== GRID SYSTEM ==== */

.ow-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ow-row {
  position: relative;
  width: 100%;
}

.ow-row [class^="ow-col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.ow-col-1,
.ow-col-2,
.ow-col-3,
.ow-col-4,
.ow-col-5,
.ow-col-6,
.ow-col-7,
.ow-col-8,
.ow-col-9,
.ow-col-10,
.ow-col-11,
.ow-col-12 {
  width: 96%;
}

.ow-col-1-sm {
  width: 4.33%;
}

.ow-col-2-sm {
  width: 12.66%;
}

.ow-col-3-sm {
  width: 21%;
}

.ow-col-4-sm {
  width: 29.33%;
}

.ow-col-5-sm {
  width: 37.66%;
}

.ow-col-6-sm {
  width: 46%;
}

.ow-col-7-sm {
  width: 54.33%;
}

.ow-col-8-sm {
  width: 62.66%;
}

.ow-col-9-sm {
  width: 71%;
}

.ow-col-10-sm {
  width: 79.33%;
}

.ow-col-11-sm {
  width: 87.66%;
}

.ow-col-12-sm {
  width: 96%;
}

.ow-row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .ow-container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .ow-col-1 {
    width: 4.33%;
  }

  .ow-col-2 {
    width: 12.66%;
  }

  .ow-col-3 {
    width: 21%;
  }

  .ow-col-4 {
    width: 29.33%;
  }

  .ow-col-5 {
    width: 37.66%;
  }

  .ow-col-6 {
    width: 46%;
  }

  .ow-col-7 {
    width: 54.33%;
  }

  .ow-col-8 {
    width: 62.66%;
  }

  .ow-col-9 {
    width: 71%;
  }

  .ow-col-10 {
    width: 79.33%;
  }

  .ow-col-11 {
    width: 87.66%;
  }

  .ow-col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .ow-container {
    width: 75%;
    max-width: 60rem;
  }
}
